:root {
  --ifm-font-color-base: #fff;
  --ifm-background-color: #000;
  
  /* Primary color: gold */
  --ifm-color-primary: #FFD700; 
  --ifm-color-primary-dark: #e6c200; 
  --ifm-color-primary-darker: #ccac00;
  --ifm-color-primary-light: #ffdf32;
  --ifm-color-primary-lighter: #ffe666;
}

.navbar {
  background-color: #000 !important;
}

.navbar__item.navbar__link:hover {
  color: #FFD700 !important;
}

.footer {
  background-color: #000 !important;
  color: #FFF !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFD700;
}

.button--primary {
  background-color: var(--ifm-color-primary) !important;
  color: #000 !important;
}
